/node_modules/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# WebDriverIO
allure-report/
allure-results/
reports/
history/

# IDEs and Editors
/.idea/
/.vscode/
/*.swp

# macOS
.DS_Store

# Logs
logs/
*.log


# Temporary
temp/

# Optional
/dist/

# Ignore compiled output
lib/
coverage/
